{% load staticfiles %}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    {% comment %}<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>{% endcomment %}
    <script src="{% static "js/jquery-1.9.js" %}" type="application/javascript" ></script>
    <script src="{% static "js/infinite_scroll.js" %}" type="application/javascript" ></script>


    <script src="{% static "js/handlebars.js" %}" type="application/javascript" ></script>

    <title></title>
</head>
<body>
<script>



</script>
{% comment %}<div><h1> django crud board PJT.</h1></div>{% endcomment %}
{% block content %}
{% endblock content %}

</body>
</html>